{% extends 'base.html' %}
{% block title %}Список рассылок{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Список рассылок</h1>
</div>
{% endblock %}

{% block content_2 %}
<table class="table">
	<thead>
	<tr class="table-primary">
		<th scope="col">#</th>
		<th scope="col">Тема</th>
		<th scope="col">Статус</th>
		<th scope="col">Периодичность</th>
		<th scope="col">Начало</th>
		<th scope="col">Окончание</th>
		<th scope="col">Просмотр</th>
		{% if user.is_authenticated %}
		{% if perms.mailing.can_disable_mailing and perms.users.can_blocked_user %}
		<th scope="col">Владелец</th>
		{% endif %}
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for mailing in mailings %}
	<tr>
		<th scope="row">{{ forloop.counter }}</th>
		<td>{{ mailing.message.subject|truncatechars:15 }}</td>
		<td>{{ mailing.get_status_display }}</td>
		<td>{{ mailing.get_period_display }}</td>
		<td>{{ mailing.datetime_start|date:"d-m-Y H:i" }}</td>
		<td>{{ mailing.datetime_end|date:"d-m-Y H:i" }}</td>
		<td><a href="{% url 'mailing:mailing_detail' mailing.pk %}" class="btn btn-outline-primary">&raquo;&raquo;</a></td>
		{% if user.is_authenticated %}
		{% if perms.mailing.can_disable_mailing and perms.users.can_blocked_user %}
		<td>{{ mailing.owner.email }}</td>
		{% endif %}
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
<div class="container text-center">
	<a href="{% url 'mailing:index' %}" class="btn btn-outline-primary">На главную</a>
	{% if user.is_authenticated %}
	{% if perms.mailing.add_mailing and perms.mailing.add_recipient and perms.mailing.add_message %}
	<a href="{% url 'mailing:mailing_create' %}" class="btn btn-outline-primary">Добавить рассылку</a>
	<a href="{% url 'mailing:recipient_create' %}" class="btn btn-outline-primary">Добавить получателя</a>
	<a href="{% url 'mailing:message_create' %}" class="btn btn-outline-primary">Добавить сообщение</a>
	{% endif %}
	{% endif %}
</div>
{% endblock %}
