{% extends 'base.html' %}
{% block title %}Добавление рассылки{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Добавление рассылки</h1>
	<p class="lead">Заполните форму добавления рассылки</p>
</div>
{% endblock %}


{% block content_2 %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow-sm">
				<div class="card-header">
					<h2 class="h4 mb-0">Форма добавления рассылки</h2>
				</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data" novalidate>
						{% csrf_token %}
						{{ form.non_field_errors}}
						{{ form.as_p }}
						<div>
							<button type="submit" class="p-2 btn btn-outline-primary">Добавить рассылку</button>
							<a href="{% url 'mailing:mailing_list' %}" class="p-2 btn btn-outline-primary">Отмена</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}