{% extends 'base.html' %}
{% block title %}Удаление сообщения{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Удаление сообщения</h1>
	<p class="lead">Подтверждение удаления сообщения</p>
</div>
{% endblock %}

{% block content_2 %}
<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow-sm">
				<div class="card-header">
					<h2 class="h4 mb-0">Вы действительно хотите удалить сообщение?</h2>
				</div>
				<div class="card-body">
					<h3>{{ message.subject|truncatechars:20}}</h3>
					<form method="post">
						{% csrf_token %}
						<div>
							<button type="submit" class="p-2 btn btn-outline-danger">Удалить</button>
							<a href="{% url 'mailing:message_list' %}" class="p-2 btn btn-outline-primary">Отмена</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}