{% extends 'base.html' %}
{% block title %}Просмотр сообщения{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Просмотр сообщения</h1>
</div>
{% endblock %}

{% block content_2 %}
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="card shadow-sm">
			<div class="card-header">
				<h2 class="h4 mb-0">{{ message.subject }}</h2>
			</div>
			<div class="card-body">
				<p>{{ message.content }}</p>
				
			</div>
		</div>
	</div>
</div>
<div class="container text-center mt-3">
	{% if user.is_authenticated %}
	{% if perms.mailing.change_message and perms.mailing.delete_message %}
	<a href="{% url 'mailing:message_update' message.pk %}" class="btn btn-outline-primary">Редактировать</a>
	<a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-outline-danger">Удалить</a>
	{% endif %}
	{% endif %}
	<a href="{% url 'mailing:message_list' %}" class="btn btn-outline-primary">К списку сообщений</a>
</div>
{% endblock %}