{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Сброс пароля</h1>
	<p class="lead">Введите Email для восстановления пароля</p>
</div>
{% endblock %}

{% block content_2 %}
<h2>Установка нового пароля</h2>
{% if validlink %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
</form>
{% else %}
<p>Ссылка для сброса пароля недействительна. Возможно, она уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}