{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content_1 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Регистрация</h1>
    <p class="lead">Зарегистрируйтесь для доступа к функциям сервиса рассылок</p>
</div>
{% endblock %}
{% block content_2 %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="card shadow-sm">
				<div class="card-header">
					<h2 class="h4 mb-0">Заполните форму регистрации</h2>
				</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data" novalidate>
						{% csrf_token %}
						{{ form.non_field_errors}}
						{{ form.as_p }}
						<div>
							<button type="submit" class="btn btn-outline-primary me-2">Регистрация</button>
							<a href="{% url 'mailing:index' %}" class="btn btn-outline-primary me-2">Отмена</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
